article {
	> figure {
		.responsive(true; flex-direction; column; column; row; row);

		display: flex;
		flex: none;
		width: 100%;

		> img {
			.responsive(true; align-self; flex-start; flex-start; center; center);
			.responsive(true; margin-bottom; @padding-m; @padding-m; 0; 0);
			.responsive(true; margin-right; 0; 0; @padding-m; @padding-m);
			.responsive(true; width; 100%; 100%; @max-width / 2; @max-width / 2);

			flex: 1 1 0;
			max-width: 3 * @max-width / 4;
			min-width: @max-width / 4;
		}

		> figcaption {
			.flex(col);
			flex: 2 2 0;

			> span { font-size: 1.3em; }
			> small { margin-top: @padding-m; }
		}
	}
}
