// Color scheme
@g-gray-4: #FEFEFF;
@g-gray-3: #EDEDED;
@g-gray-2: #454343;
@g-gray-1: #232221;
@g-gray-0: #050505;

// Fonts
@g-font-body: OpenSans, sans-serif;
@g-font-display: Bitter, serif;

// Breakpoints and common sizes
@g-bp-s: 600px;
@g-bp-m: 1200px;
@g-bp-l: 1600px;
@g-border: 1px solid;
@g-border-radius: 3px;
@g-space-xs: 0.2rem;
@g-space-s:  0.5rem;
@g-space-m:  1.5rem;
@g-space-l:  3rem;
@g-max-width: 40rem;

// Time values
@g-duration-s: 0.06s;
@g-duration-m: 0.27s;
@g-duration-l: 0.5s;


// Breakpoint-focused behaviour
.breakpoint-basic(@g-bp; @rules) when (@g-bp = 1) {
	@media (max-width: @g-bp-s) { @rules(); }
}
.breakpoint-basic(@g-bp; @rules) when (@g-bp = 12) {
	@media (max-width: @g-bp-m) { @rules(); }
}
.breakpoint-basic(@g-bp; @rules) when (@g-bp = 123) {
	@media (max-width: @g-bp-l) { @rules(); }
}
.breakpoint-basic(@g-bp; @rules) when (@g-bp = 4) {
	@media (min-width: @g-bp-l) { @rules(); }
}
.breakpoint-basic(@g-bp; @rules) when (@g-bp = 34) {
	@media (min-width: @g-bp-m) { @rules(); }
}
.breakpoint-basic(@g-bp; @rules) when (@g-bp = 234) {
	@media (min-width: @g-bp-s) { @rules(); }
}
.breakpoint-basic(@g-bp; @rules) when (@g-bp = 2) {
	@media (min-width: @g-bp-s) and (max-width: @g-bp-m) { @rules(); }
}
.breakpoint-basic(@g-bp; @rules) when (@g-bp = 3) {
	@media (min-width: @g-bp-m) and (max-width: @g-bp-l) { @rules(); }
}
.breakpoint-basic(@g-bp; @rules) when (@g-bp = 23) {
	@media (min-width: @g-bp-s) and (max-width: @g-bp-l) { @rules(); }
}

.breakpoint-oriented(@g-bp; @rules) when (@g-bp = 1), (@g-bp = 12), (@g-bp = 123) {
	@media (orientation: portrait) { @rules(); };
	.breakpoint-basic(@g-bp; @rules);
}
.breakpoint-oriented(@g-bp; @rules) when not (@g-bp = 1)
                                     and not (@g-bp = 12)
                                     and not (@g-bp = 123) {
	@media (orientation: landscape) { .breakpoint-basic(@g-bp; @rules); }
}

.breakpoint(@g-bp; @orientation; @rules) when (@orientation) {
	.breakpoint-oriented(@g-bp; @rules);
}
.breakpoint(@g-bp; @orientation; @rules) when not (@orientation) {
	.breakpoint-basic(@g-bp; @rules);
}

// Property-focused behaviour with all the intervals
.responsive(@orientation; @property; @g-bp1; @g-bp2; @g-bp3; @g-bp4) {
	.breakpoint(1; @orientation; { @{property}: @g-bp1; });
	.breakpoint(2; @orientation; { @{property}: @g-bp2; });
	.breakpoint(3; @orientation; { @{property}: @g-bp3; });
	.breakpoint(4; @orientation; { @{property}: @g-bp4; });
}

// Property-focused behaviour with only intervals 1 and 234
.responsive-switch(@orientation; @property; @g-bp1; @g-bp234) {
	.breakpoint(1;   @orientation; { @{property}: @g-bp1; });
	.breakpoint(234; @orientation; { @{property}: @g-bp234; });
}

// Flex column or row
.flex(@dir; @center: false) {
	display: flex;
	flex-wrap: wrap;
}
.flex(@dir; @center: false) when (@dir = col) { flex-flow: column; }
.flex(@dir; @center: false) when (@dir = row) { flex-flow: row; }
.flex(@dir; @center: false) when (@center) {
	align-items:     center;
	justify-content: center;
}
.flex(@dir; @center: false) when not (@center) {
	align-items:     flex-start;
	justify-content: flex-start;
}

// Mimics padding along the main flex direction
.flex-air(@size) when (@size > 0) {
	&:before,
	&:after {
		content: "\00a0";
		flex: 0 0 @size;
		overflow: hidden;
	}
}

// Padded flex row container
.padded-flex-row(@padding-main; @padding-cross: @padding-main) {
	.flex(row);
	.flex-air(@padding-main);
	padding: @padding-cross 0;
}

// Padded flex col container
.padded-flex-col(@padding-main; @padding-cross: @padding-main) {
	.flex(col);
	.flex-air(@padding-main);
	padding: 0 @padding-cross;
}

// Padded flex container acting as a row in interval 234 and col otherwise
.responsive-flex-row(@padding-main: 0, @padding-cross: @padding-main) {
	.breakpoint(1;   true; { .padded-flex-col(@padding-main; @padding-cross); });
	.breakpoint(234; true; { .padded-flex-row(@padding-main; @padding-cross); });
}

// Padded flex container acting as a col in interval 234 and row otherwise
.responsive-flex-col(@padding-main: 0, @padding-cross: @padding-main) {
	.breakpoint(1;   true; { .padded-flex-row(@padding-main; @padding-cross); });
	.breakpoint(234; true; { .padded-flex-col(@padding-main; @padding-cross); });
}

// Child of a responsive flex row
.responsive-flex-row-child() {
	flex: 1 1 0;
	.breakpoint(1;   true; { width:  100%; });
	.breakpoint(234; true; { height: 100%; });
}

// Child of a responsive flex col
.responsive-flex-col-child() {
	flex: 1 1 0;
	.breakpoint(1;   true; { height: 100%; });
	.breakpoint(234; true; { width:  100%; });
}

// Relative full block
.full() {
	display: block;
	height: 100%;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}

// Resetting all <a>'s color to "inherit" acts weirdly, so here is a mixin
.colored-link(@color) {
	color: @color;
	&:link { color: @color; }
	&:active { color: @color; }
	&:visited { color: @color; }
}
