#scope {

> h4 > .link {
	.colored-link(var(--gray-0));
}

> .details {
	.flex(row);

	align-items: center;
	flex-wrap: wrap;

	&:not(:last-child) {
		margin-bottom: var(--space-m);
	}
}

> .details + h3 {
	margin-top: var(--space-m);
}

> h3 + h4 {
	margin-top: var(--space-s);
}

}
