aside {
	@include flex(col);

	background-color: $gray-dark;
	color: $gray-white;
	flex: 0 0 auto;
	height: 100%;
	padding: $padding-m;

	> h1 {
		$font-size: 2.3rem;

		color: $gray-white;
		font-family: $font-display;
		font-size: $font-size;
		font-weight: 700;
		line-height: $font-size + $padding-s;
	}

	> ul {
		@include flex(col);

		flex: 1 1 0;
		font-family: $font-body;
		font-size: 1.2rem;
		font-weight: 600;
		margin-top: $padding-m;
		width: 100%;

		> li {
			flex: 0 0 auto;
			margin-top: 2 * $padding-s;
			width: 100%;

			> a {
				@include full();
				border-bottom: 1px solid $gray-medium;
				display: block;
				padding-bottom: $padding-s;
				transition: border-color $in-s;

				&:hover { border-color: $gray-white; }
			}
		}
	}
}
