aside {
	@include responsive-flex-col(0, $padding-m);
	@include responsive-flex-row-child();
	flex: 0 0 auto;

	background-color: $gray-dark;
	color: $gray-white;
	overflow: auto;

	> h1 {
		@include breakpoint(1) { display: none; };
		color: $gray-white;
		font-family: $font-display;
		font-size: 2rem;
		font-weight: 700;
		line-height: 2.6rem;
		margin: $padding-m 0;
	}

	> ul {
		@include responsive-flex-col();
		@include responsive-flex-col-child();

		flex: 0 0 auto;
		font-family: $font-body;
		font-size: 1.1rem;
		font-weight: 600;

		> li {
			@include responsive-flex-col-child();
			@include breakpoint(1) { margin: 0 $padding-m; }
			@include breakpoint(234) { margin-top: 2 * $padding-s; }
			
			flex: 0 0 auto;

			> a {
				@include full();
				@include breakpoint(234) { border-bottom: 1px solid $gray-medium; };
				display: block;
				padding-bottom: $padding-s;
				transition: border-color $in-s;

				&:hover { border-color: $gray-white; }
			}
		}
	}
}
