aside {
	.responsive-flex-col(0; @padding-m);
	.responsive-flex-row-child();
	.responsive-switch(true; flex-grow; 0; 1);

	background-color: @gray-dark;
	color: @gray-white;
	flex-basis: auto;
	flex-shrink: 0;
	overflow: auto;

	> h1 {
		.breakpoint(1; true; { display: none; });

		color: @gray-white;
		flex: none;
		margin: @padding-l 0;
	}

	> ul.pages {
		.responsive-flex-col();
		.responsive-flex-col-child();

		font-family: @font-body;
		font-size: 1.1rem;
		font-weight: 600;

		> li {
			.breakpoint(1; true; { margin: 0 @padding-m; });
			.breakpoint(234; true; { margin-bottom: @padding-m; });
			.responsive-flex-col-child();
			
			flex: none;

			.link {
				.breakpoint(234; true; {
					border-bottom: @border @gray-medium;
					padding-bottom: @padding-s;
				});
				.colored-link(@gray-white);
				.full();

				display: block;
				transition: border-color @timing-s-in;
				&:hover { border-color: @gray-white; }
			}
		}
	}

	> ul.links {
		.flex(row);
		.breakpoint(1; true; { display: none; });

		justify-content: space-between;
		margin-bottom: @padding-l;
		width: 100%;

		> li {
			flex: none;

			> .link {
				display: block;
				padding: 2 * @padding-s;
				transition: background-color @timing-s-in;
				&:hover { background-color: @gray-medium; }

				> img { height: 2em; }
			}
		}
	}
}
