#scope {

> .header {
	> .date {
		display: block;
		font-style: italic;
	}

	> .keyword {
		border-radius: @g-border-radius;
		background: @g-gray-2;
		color: @g-gray-4;
		display: inline-block;
		margin: @g-space-xs @g-space-xs @g-space-xs 0;
		padding: @g-space-xs (@g-space-s + @g-space-xs);
	}

	.disclaimer { display: block; }
}

> ul {
	list-style-position: outside;
	list-style-type: disc;
	margin-bottom: @g-space-s;
	padding-left: 1.5em;
}

}
