#scope {

> .date {
	font-style: italic;
	margin-bottom: @g-space-s;
}

> .keywords {
	.flex(row);
	margin-bottom: @g-space-s;

	> .keyword {
		border-radius: 2 * @g-border-radius;
		background: @g-gray-2;
		color: @g-gray-4;
		padding: @g-space-xs @g-space-s;
		margin-right: @g-space-xs;
	}
}

> .disclaimer {
	margin-bottom: @g-space-l;
}

}
