#scope {

> .date {
	font-style: italic;
	margin-bottom: @padding-s;
}

> .keywords {
	.flex(row);
	margin-bottom: @padding-l;

	> .keyword {
		border-radius: 2 * @border-radius;
		background: @gray-medium;
		color: @gray-white;
		padding: @padding-xs @padding-s;
		margin-right: @padding-xs;
	}
}


}
