#scope
{

figure
{
	display: flex;
	flex-flow: row wrap;
	gap: var(--space-m);

	> .image-wrapper
	{
		flex: 1 1 10em;

		> img
		{
			height: auto;
			width: 100%;
		}
	}

	> figcaption
	{
		flex: 2 2 20em;
	}
}

}
