#scope {

> figure {
	.breakpoint(12; true; {
		align-items: center;
		flex-direction: column;
	});
	.breakpoint(34; true; {
		align-items: flex-start;
		flex-direction: row;
	});

	display: flex;
	flex: none;
	width: 100%;
	&:not(:last-child) { margin-bottom: @g-space-l; }

	> img,
	> figcaption {
		max-width: 3 * @g-max-width / 4;
		min-width: @g-max-width / 4;
	}

	> img {
		.breakpoint(12; true; {
			margin-bottom: 2 * @g-space-s;
			margin-right: 0;
			width: 100%;
		});
		.breakpoint(34; true; {
			margin-bottom: 0;
			margin-right: @g-space-m;
			width: @g-max-width / 2;
		});

		flex: 1 1 0%;
	}

	> figcaption {
		.flex(col);
		.breakpoint(12; true; {
			flex: 0 0 auto;
			width: 100%;
		});
		.breakpoint(34; true; {
			flex: 2 2 0%;
			height: auto;
		});

		> .title {
			font-family: @g-font-title;
			font-size: 1.3em;
		}
		> .date { margin-top: @g-space-s; }
	}
}

}
