{{#each root.fonts.list}}
@font-face {
	font-display: {{display}};
	font-family: {{family}};
	font-weight: {{weight}};

	// From google-webfonts-helper
	src: url("{{../root.fonts.directory}}{{family}}/{{prefix}}.eot"); // IE9 Compat Modes
	src: local("{{prefix}}"),
	     url("{{../root.fonts.directory}}{{family}}/{{prefix}}.eot?#iefix") format("embedded-opentype"), // IE6-IE8
	     url("{{../root.fonts.directory}}{{family}}/{{prefix}}.woff2") format("woff2"), // Super Modern Browsers
	     url("{{../root.fonts.directory}}{{family}}/{{prefix}}.woff") format("woff"), // Modern Browsers
	     url("{{../root.fonts.directory}}{{family}}/{{prefix}}.ttf") format("truetype"), // Safari, Android, iOS
	     url("{{../root.fonts.directory}}{{family}}/{{prefix}}.svg#{{family}}") format("svg"); // Legacy iOS
}
{{/each}}


html {
	.full();
	.responsive(false; font-size; 14px; 15px; 16px; 17px);
}

body {
	.full();
	.responsive-flex-row();
	.responsive-switch(true; overflow; auto; hidden);

	touch-action: manipulation;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;

	:focus { outline: none; }
	::-moz-focus-inner { border: 0; }

	background-color: @gray-white;
	color: @gray-black;
	font-family: @font-body;
	line-height: 1.6em;

	h1,
	h2,
	h3 {
		color: @gray-dark;
		font-family: @font-display;
		font-weight: 400;
		line-height: 1.2em;
		margin-bottom: @padding-s;

		small {
			color: @gray-medium;
			font-family: @font-body;
			font-size: 0.85em;
			margin-right: 0.5em;
		}
	}
	h1 {
		font-size: 1.7rem;
		font-weight: 700;
		margin-bottom: @padding-l;
	}
	h2 { font-size: 1.5rem; }
	h3 { font-size: 1.2em; }

	{{{sidebar.style}}}

	> main {
		.padded-flex-col(@padding-l; @padding-m);
		.responsive-flex-row-child();
		.responsive-switch(true; overflow; visible; auto);
		
		p { margin-bottom: @padding-s; }
		p + h2 { margin-top: @padding-l; }
		p + h3 { margin-top: @padding-m; }
		
		i { font-style: italic; }

		a {
			.colored-link(@gray-medium);
			transition: color @timing-s-inout;
			&:hover { color: @gray-black; }
		}

		> article {
			.flex(col);
			flex: none;
			max-width: @max-width;
			width: 100%;
		}

		align-items: center;
		flex: 20 1 0;
	}
}
