.include-font(@family, @name, @weight, @display) {
	@prefix: "fonts/@{family}/@{name}";

	@font-face {
		font-display: @display;
		font-family: @family;
		font-weight: @weight;

		// From google-webfonts-helper
		src: url("@{prefix}.eot"); // IE9 Compat Modes
		src: local("@{prefix}"),
		     url("@{prefix}.eot?#iefix") format("embedded-opentype"), // IE6-IE8
		     url("@{prefix}.woff2") format("woff2"), // Super Modern Browsers
		     url("@{prefix}.woff") format("woff"), // Modern Browsers
		     url("@{prefix}.ttf") format("truetype"), // Safari, Android, iOS
		     url("@{prefix}.svg#{{family}}") format("svg"); // Legacy iOS
	}
}

.include-font("OpenSans", "OpenSans-Regular",  400, "fallback");
.include-font("OpenSans", "OpenSans-SemiBold", 600, "fallback");
.include-font("Bitter",   "Bitter-Regular",    400, "swap");
.include-font("Bitter",   "Bitter-Bold",       700, "swap");


html {
	.full();
	.responsive(false; font-size; 14px; 15px; 16px; 17px);
}

body {
	.full();
	.responsive-flex-row();
	.responsive-switch(true; overflow; auto; hidden);

	touch-action: manipulation;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;

	:focus { outline: none; }
	::-moz-focus-inner { border: 0; }

	background-color: @g-gray-4;
	color: @g-gray-0;
	font-family: @g-font-body;
	line-height: 1.6em;

	h1,
	h2,
	h3 {
		color: @g-gray-1;
		font-family: @g-font-display;
		font-weight: 400;
		line-height: 1.2em;
		margin-bottom: @g-space-s;

		.date {
			color: @g-gray-2;
			font-family: @g-font-body;
			font-size: 0.85em;
			margin-right: 0.5em;
		}
	}
	h1 {
		font-size: 1.7rem;
		font-weight: 700;
		margin-bottom: @g-space-l;
	}
	h2 { font-size: 1.5rem; }
	h3 { font-size: 1.2em; }

	{{{sidebar.style}}}

	> main {
		.padded-flex-col(@g-space-l; @g-space-m);
		.responsive-flex-row-child();
		.responsive-switch(true; overflow; visible; auto);
		
		p { margin-bottom: @g-space-s; }
		p + h2 { margin-top: @g-space-l; }
		p + h3 { margin-top: @g-space-m; }
		
		i { font-style: italic; }

		.link {
			.colored-link(@g-gray-2);
			transition: color @g-duration-s ease-in;
			&:hover { color: @g-gray-0; }
		}

		> article {
			.flex(col);
			flex: none;
			max-width: @g-max-width;
			width: 100%;
		}

		align-items: center;
		flex: 20 1 0;
	}
}
