{{#each fonts.list}}
@font-face {
	font-family: {{family}};
	font-weight: {{weight}};
	src: url("{{url}}");
}
{{/each}}


html {
	@include full();
}

body {
	@include full();
	@include flex(row);
	> {{{sidebar.style}}}
}
