.include-font(@family, @style, @weight, @file) {
	@path: "fonts/@{family}/@{file}";

	@font-face {
		font-family: @family;
		font-style: @style;
		font-weight: @weight;

		// From google-webfonts-helper
		src: url("@{path}.eot"); // IE9 Compat Modes
		src: local("@{path}"),
		     url("@{path}.eot?#iefix") format("embedded-opentype"), // IE6-IE8
		     url("@{path}.woff2") format("woff2"), // Super Modern Browsers
		     url("@{path}.woff") format("woff"), // Modern Browsers
		     url("@{path}.ttf") format("truetype"), // Safari, Android, iOS
		     url("@{path}.svg#{{family}}") format("svg"); // Legacy iOS
	}
}

.include-font("Rubik Light", normal, 400, "rubik-400");
.include-font("Rubik Light", normal, 500, "rubik-500");

.include-font("Open Sans", normal, 400, "opensans-400");
.include-font("Open Sans", normal, 600, "opensans-600");

.include-font("Roboto Mono", normal, 400, "roboto-mono-400");


html {
	.full();
	.responsive(false; font-size; 15px; 15.5px; 16px; 17px);
	overflow: hidden;
}

body {
	.full();
	.responsive-flex-row();

	background-color: @g-gray-4;
	color: @g-gray-0;
	font-family: @g-font-body;
	font-size: 400;
	line-height: 1.5em;
	overflow: hidden;
	padding: env(safe-area-inset-top, 0)
	         env(safe-area-inset-right, 0)
	         env(safe-area-inset-bottom, 0)
	         env(safe-area-inset-left, 0);
	touch-action: manipulation;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;

	:focus { outline: none; }
	::-moz-focus-inner { border: 0; }

	h1,
	h2,
	h3,
	h4 {
		font-family: @g-font-title;
		font-weight: 400;
		line-height: 1.2em;
	}

	h1 {
		font-size: 1.9rem;
		font-weight: 500;
		margin-bottom: @g-space-l;
	}
	p + h1,
	ol + h1,
	ul + h1,
	pre + h1,
	table + h1 {
		margin-top: 2 * @g-space-l;
	}

	h2 {
		font-size: 1.5rem;
		margin-bottom: @g-space-s;
	}
	p + h2,
	ol + h2,
	ul + h2,
	pre + h2,
	table + h2 {
		margin-top: 2 * @g-space-m;
	}

	h3 {
		font-size: 1.3rem;
		margin-bottom: @g-space-s;
	}
	p + h3,
	ol + h3,
	ul + h3,
	pre + h3,
	table + h3 {
		margin-top: 2 * @g-space-s;
	}

	h4 {
		font-size: 1.1rem;
		margin-bottom: @g-space-s;
	}

	code {
		font-family: @g-font-mono;
		line-height: normal;

		&.hljs {
			.hljs-comment { color: @g-green; }
			.hljs-keyword { color: @g-blue; }
			.hljs-meta    { color: @g-orange; }
			.hljs-literal { color: @g-red; }
			.hljs-number  { color: @g-red; }
			.hljs-string  { color: @g-green; }
			.hljs-type    { color: @g-blue; }
		}
	}

	pre {
		.padded-flex-row(@g-space-m);

		background: @g-gray-2;
		color: @g-gray-4;
		flex: none;
		overflow-x: auto;
		overflow-y: visible;
		transform: translateX(-@g-space-m);
		width: calc(100% + 2 * @g-space-m);

		p + & {
			margin-top: 0;
		}

		& > code {
			flex: none;
			font-size: 0.9em;
			line-height: 1.3em;
		}
	}

	ol,
	ul {
		list-style-position: outside;
		margin-bottom: @g-space-s;
		padding-left: 1.5em;
		width: 100%;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	table {
		align-self: center;
		border-collapse: collapse;

		thead {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&, th, td {
			border: 1px solid @g-gray-2;
		}

		th, td {
			min-width: 4rem;
			padding: 0.1rem 0.4rem;
			text-align: center;
		}
	}

	> {{{sidebar.style}}}

	> main {
		.padded-flex-col(@g-space-l; @g-space-m);
		.responsive-flex-row-child();

		align-items: center;
		flex: 20 1 0%;
		overflow: auto;
		
		p {
			width: 100%;
		}
		p, pre {
			margin-bottom: @g-space-s;
		}
		pre + p {
			margin-top: @g-space-s;
		}
		
		i, em {
			font-style: italic;
		}

		a[href] {
			.colored-link();
			overflow-wrap: break-word;
			transition: color @g-duration-s ease-in;

			&:focus,
			&:hover { text-decoration: underline; }
		}

		.tag {
			border: 1px solid @g-gray-0;
			border-radius: @g-border-radius;
			display: inline-block;
			font-size: 0.8em;
			margin: 0 0 @g-space-s;
			padding: 0 @g-space-s;

			&:not(:last-of-type) {
				margin-right: @g-space-s;
			}
		}

		> article {
			.flex(col);
			flex: none;
			max-width: @g-max-width;
			width: 100%;
		}
	}
}
