#scope {

.when-small { .responsive-switch(true; display; initial; none); }
.when-big { .responsive-switch(true; display; none; initial); }

img {
	align-self: center;
	border: 2px solid @gray-medium;
	border-radius: 50%;
	height: 8em;
	margin-bottom: @padding-l;
	padding: 2px;
	width: 8em;
}

}
