#scope {

> h3 {
	border-bottom: 1px solid @g-gray-3;
	padding-bottom: @g-space-s;

	> .date {
		color: @g-gray-2;
		font-size: 0.8em;
		margin-right: 0.5em;
	}

}

img {
	align-self: center;
	border: 2px solid @g-gray-2;
	border-radius: 50%;
	height: 8em;
	margin: @g-space-l 0;
	padding: 2px;
	width: 8em;
}

}
